@import "variables";
@import "reset";
@import "fontawesome";



%clearfix {
	&::before, &::after {
		content: "";
		display: block;
		clear: both;
	}
}

@mixin content($sides) {
		padding: 75px $sides;
}
/* sass goes here */
body {
	font-family: sans-serif;
	font-size: 100%;
	
}




.floats {
	.utilnav {
		background-image: url(../img/patt1.png);
		@extend %clearfix;
		li {
			display: inline-block;
			float: left;
			i {
				float: left;
				margin: 0 10px;
				font-size: 2em;
				color: $compcolor;	
			}
			div {
				float: left;
			}
		}
		h1 {
			float: left;
			color: $logocolor;
			margin-bottom: 0;
		}
		ul {
			float: right;
		}
	}
	nav {
		background-color: $black;
		color: $white;
		li {
			&:hover {
				background-color: $keycolor;
			}
			a {
				display: block;
				padding: 25px 30px;
			}
			display: inline-block;
			font-size: 1.1em;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
	.cta {
		color: $white;
		padding: 100px 0;
		text-align: center;
		background: {
			image: url(../img/page-1_slide2.jpg);
			position: center;
			size: cover;
		}
		h2 {
			font-size: 2em;
			text-transform: uppercase;
		}
	}
	&.promos {
		background-color: $lightgray;
		@extend %clearfix;
		@include content(5vw);
		div {
			width: 25%;
			float: left;
		}
	}
	&.features {
		@extend %clearfix;
		@include content(5vw);
		text-align: center;
		div {
			width: 33%;
			float: left;
			i {
				font-size: 3em;
				color: $compcolor;
				width: 3em;
				height: 3em;
				border: 1px solid $compcolor;
				border-radius: 50%;
				line-height: 3em;
				margin-bottom: 40px;
			}
		}
	}
	&.about {
		@include content(5vw);
		@extend %clearfix;
		div:first-child {
			width: 33%;
			float: left;
		}
		div:last-child {
			width: 66%;
			float: left;
		}
	}
	&.fixed1,
	&.fixed2 {
		padding: 150px 0;
		background:{
			image: url(../img/parallax1-1.jpg);
			size: cover;
			position: center;
			repeat: no-repeat;
			attachment: fixed;
		} 

		h1 {
			text-align: center;
			color: $white;
			font-size: 4em;
			font-weight: 100;

		}
	}
	&.do {
		@extend %clearfix;
		@include content(5vw);
		h1 {
			color: $keycolor;
			font-size: 4em;
			text-align: center;
		}
		img {
			width: 100%;
			height: auto;
		}
		div {
			padding: 5%;
			width: 33%;
			float: left;
			box-sizing: border-box;
		}
		a {
			color: $compcolor;

		}
	}
	&.product {
		@include content(5vw);
		@extend %clearfix;
		background-color: $lightgray;
		h3 {
			text-transform: uppercase;
			font-size: 2em;
		}
		img {
			width: 100%;
			height: auto;
		}
		div:first-child {
			width: 33%;
			float: left;
		}
		div:last-child {
			width: 66%;
			float: left;
		}
		#btn-product {
			background-color: $keycolor;
			padding: 20px 40px;
			display: inline-block;
			border: 1px solid $keycolor;
			color: $white;
		 	&:hover {
		 		background-color: $white;
		 		border-color: $keycolor;
		 		color: $keycolor;
		 	}
		}
	
	}
	&.fixed2 {
		background-image: url(../img/parallax1.jpg);	
    }
	&.news {
		@extend %clearfix;
		@include content(5vw);
		h1 {
			color: $keycolor;
			font-size: 4em;
			text-align: center;
		}
		img {
			width: 100%;
			height: auto;
		}
		div {
			padding: 5%;
			width: 33%;
			float: left;
			box-sizing: border-box;
		}
		#btn-news {
			background-color: $compcolor;
			padding: 20px 40px;
			display: inline-block;
			border: 1px solid $compcolor;
			color: $white;
		 	&:hover {
		 		background-color: $white;
		 		border-color: $compcolor;
		 		color: $compcolor;
		 	}
		}
	}
	&.hovers {
		@extend %clearfix;
		div {
			width: (100% / 7);
			height: (100vw / 7);
			float: left;
			background: {
				size: 130%;
				position: center;
			}
			transition: background-size 200ms ease-in-out;
			overflow: hidden;
			&:hover {
				// transform: scale(1.2);
				background-size: 150%;
			}
		}
		div:nth-child(1) {
			background-image: url(../img/page-1_img8.jpg);
		}
		div:nth-child(2) {
			background-image: url(../img/page-1_img9.jpg);
		}
		div:nth-child(3) {
			background-image: url(../img/page-1_img10.jpg);
		}
		div:nth-child(4) {
			background-image: url(../img/page-1_img11.jpg);
		}
		div:nth-child(5) {
			background-image: url(../img/page-1_img12.jpg);
		}
		div:nth-child(6) {
			background-image: url(../img/page-1_img8.jpg);
		}
		div:nth-child(7) {
			background-image: url(../img/page-1_img9.jpg);
		}

	}
}


.flex {
	.utilnav {
		li {
			display: inline-flex;
			i {
				margin: 0 10px;
				font-size: 2em;
				color: $compcolor;	
			}
		}
  		display: flex;
		h1 {
			margin-right: auto;
			color: green;
			margin-bottom: 0;
		}
		ul {
			display: flex;
		}
	}
	nav {
		color: $white;
		background-color: $black;
		ul {
			display: inline-flex;
			flex-direction: row;
			justify-content: flex-start;
			width: 100%;
			
			}
			li {
				
				text-align: center;
				&:hover {
				background-color: $keycolor;
			}
			a {
				display: block;
				padding: 25px 30px;
			}
			
			font-size: 1.1em;
			font-weight: 100;
			text-transform: uppercase;
			}
	}
	.cta {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 25vw;
		color: $white;
		// padding: 100px 0;
		background: {
			image: url(../img/page-1_slide2.jpg);
			position: center;
			size: cover;
		}
		h2 {
			font-size: 2em;
			text-transform: uppercase;
			
		}
	}
	&.promos {
		background-color: $lightgray;
		@include content(0);
		display: flex;
		justify-content: center;
		div {
			width: 20%;
			
		}
	}
	&.features {
		display: flex;
		justify-content: center;
		@include content(0);
		text-align: center;
		div {
			width: 30%;
		
			i {
				font-size: 3em;
				color: $compcolor;
				width: 3em;
				height: 3em;
				border: 1px solid $compcolor;
				border-radius: 50%;
				// display: flex;
				// justify-content: center;
				// align-items: center;
				margin: 0 auto 40px;
				line-height: 3em;
			}
		}
	}
	&.about {
		@include content(5vw);
		display: flex;
		div:first-child {
			flex: 1;
		}
		div:last-child {
			flex: 2;
		}
	}
	&.fixed1,
	&.fixed2 {
		padding: 150px 0;
		background:{
			image: url(../img/parallax1-1.jpg);
			size: cover;
			position: center;
			repeat: no-repeat;
			attachment: fixed;
		} 

		h1 {
			text-align: center;
			color: $white;
			font-size: 4em;
			font-weight: 100;

		}
	}
	&.do {
		@include content(5vw);
		span {
			display: flex;
		}
		h1 {
			color: $keycolor;
			text-align: center;
			font-size: 4em;
		}
		img {
			width: 100%;
			height: auto;
		}
		div {
			padding: 5%;
		}
		a {
			color: $compcolor;
		}
	}
	&.product {
		display: flex;
		@include content(5vw);
		background-color: $lightgray;
		h3 {
			text-transform: uppercase;
			font-size: 2em;
		}
		img {
			width: 100%;
			height: auto;
		}
		div:first-child {
			flex: 1;
		}
		div:last-child {
			flex: 2;
		}
		.btn-products {
			background-color: $keycolor;
			padding: 20px 40px;
			display: inline-block;
			border: 1px solid $keycolor;
			color: $white;
		 	&:hover {
		 		background-color: $white;
		 		border-color: $keycolor;
		 		color: $keycolor;
		 	}

		}
	}
	&.fixed2 {
		background-image: url(../img/parallax1-1.jpg);
	}
	&.news {
		@extend %clearfix;
		@include content(5vw);
		h1 {
			color: $keycolor;
			font-size: 4em;
			text-align: center;
		}
		img {
			width: 100%;
			height: auto;
		}
		div {
			padding: 5%;
			width: 33%;
			float: left;
			box-sizing: border-box;
		}
		.btn-news {
			background-color: $compcolor;
			padding: 20px 40px;
			display: inline-block;
			border: 1px solid $compcolor;
			color: $white;
		 	&:hover {
		 		background-color: $white;
		 		border-color: $compcolor;
		 		color: $compcolor;
		 	}
		}
	}
	&.hovers {
		display: flex;
		div {
			flex: 1;
			height: (100vw / 7);
			background: {
				size: 130%;
				position: center;
			}
			transition: background-size 200ms ease-in-out;
			overflow: hidden;
			&:hover {
				// transform: scale(1.2);
				background-size: 150%;
			}
		}
		div:nth-child(1) {
			background-image: url(../img/page-1_img8.jpg);
		}
		div:nth-child(2) {
			background-image: url(../img/page-1_img9.jpg);
		}
		div:nth-child(3) {
			background-image: url(../img/page-1_img10.jpg);
		}
		div:nth-child(4) {
			background-image: url(../img/page-1_img11.jpg);
		}
		div:nth-child(5) {
			background-image: url(../img/page-1_img12.jpg);
		}
		div:nth-child(6) {
			background-image: url(../img/page-1_img8.jpg);
		}
		div:nth-child(7) {
			background-image: url(../img/page-1_img9.jpg);
		}

	}
}













