@import "variables";
@import "reset";
// @import "fontawesome";

/* sass goes here */
$white: hsla(0, 0%, 96%, 1);
$black: hsla(0, 0%, 9%, 1);

body {
	background-color: $white;
	color: $black;
	padding: 10vw 5vw;
}

header {
	background-color: $black;
	color: $white;
	nav {
		display: flex;
		img {
			transition: all 700ms ease-in-out;
		}
		a {
			margin: 0 auto 0 0;
			display: inherit;
			padding: 10px;
			align-items: center;
			
		}
		ul {
			display: inherit;
			li {
				display: flex;
			}

			a {
				padding: 10px;
				display: flex;
				align-items: center;
			}
		}
	}
	&.fixie {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		img {
			width: 85px;
			height: 85px;
			transform: rotate(360deg);
		}
	}
}

main {
	background-color: darken($white, 5);
	padding: inherit;
}